<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Slideshow Bob - Admin Login</title>
    <link rel="shortcut icon" href="/images/slide2.png"/>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:200" rel="stylesheet">
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/signup.css"/>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>

<h1>Login</h1>
<h4><span th:text="${model} ? 'Incorrect Login Details. Please Try Again':''"></span></h4>

<form class="form" action="/login" id="login-form" method="post">
    <input class="usernameInput" type="text" name="username" placeholder="Username">
    <input class="passwordInput" type="password" name="password" placeholder="Password">
    <button class="logInButton" type="submit" id="login-button">Log in!</button>
</form>
</body>


</html>
