<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="model" type="org.softwire.training.slideshowbob.models.pages.ManageSlideshowPageModel"-->

<head>
    <title>Group Project - Select a Slideshow</title>
    <link rel="shortcut icon" href="/images/slide2.png"/>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:200" rel="stylesheet">

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/selectActiveSlideshow.css"/>
    <link rel="stylesheet" href="/styles/editslideshow.css"/>
    <link rel="stylesheet" href="/styles/uploadImage.css"/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>

        <h1>Manage Slideshows</h1>
        <div class="main-content">
            <h4>Please pick a slideshow to play.</h4>
            <h4><span th:text="${model.failed} ? 'Unable to Delete Active Slideshow':''"></span></h4>
            <form action="/admin/slideshows" method="post" >
                <div class="thumbnails">
                    <div class = "thumbnail-image-div" th:each="slideshow : ${model.slideshows}">
                        <a><img class="thumbnail-image"></a>
                        <h1><span th:text="${slideshow.slideshowName}"></span></h1>
                        <div><input name="slideshow" th:value="${slideshow.id}" th:checked="${model.activeSlideshow.id==slideshow.id}"
                                                                           type="radio" required align="right">
                            <a th:href="@{'/admin/slideshows/edit/' + ${slideshow.id}}"><button class="imagebuttons" type="button">EDIT</button></a>
                            <a th:href="@{'/admin/slideshows/delete/' + ${slideshow.id}}"><button class="imagebuttons" type="button">Delete</button></a>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn6" type="submit" id="Submit">Set As Active Slideshow</button>
            </div>
    </div>

</body>


</html>
