<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



    <nav th:fragment="navbar">
        <div class="navbar-title">
            <a href="/">Home</a>
        </div>
        <div class="navbar-items">
            <div class="navbar-item">
                <a href="/admin">Admin</a>
            </div>
            <div class="navbar-item">
                <a href="/admin/manage">Manage</a>
            </div>
            <div class="navbar-item">
                <a href="/slideshow">Slideshow</a>
            </div>
            <div class="navbar-item">
                <a href="/edit-slideshow">Edit Slideshow</a>
            </div>
        </div>
    </nav>



</html>
