<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


    <head>
        <title>Group Project - Home</title>

        <link rel="stylesheet" href="/styles/general.css"/>
        <link rel="stylesheet" href="/styles/navbar.css"/>
        <link rel="stylesheet" href="/styles/index.css"/>
    </head>

    <body>

        <div th:replace="fragments/navbar :: navbar">
            <!-- This element is replaced by the HTML in fragments/navbar.html -->
        </div>

        <div class="container">
            <div class="jumbotron">
                <h1>Slideshow Bob</h1>

                <div class="index-buttons-container">
                    <a href="/slideshow"><button class="btn dots-button">Slideshow</button></a>
                    <a href="/admin"><button class="btn sawtooth-button">Admin</button></a>
                </div>

            </div>
        </div>

    </body>


</html>
