<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Slideshow Bob - Admin Login</title>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
</head>

<body>
<h1>Login</h1>
<form class="form" id="login-form" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="button" id="login-button">Login</button>
</form>
<script src="/js/login.js"></script>
</body>


</html>
