<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="model" type="org.softwire.training.slideshowbob.models.pages.ImagePageModel"-->

<head>
    <title>Group Project - Select Photos</title>
    <link rel="shortcut icon" href="/images/slide2.png"/>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/dropdown.css"/>
    <link rel="stylesheet" href="/styles/select-images.css"/>

</head>

<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>

<div class="container">
    <div class="jumbotron">
        <h1>Select Photos</h1>


        <div class="custom-select" style="width:200px;">
            <select>
                <option value="0">Select an image:</option>
                <option th:each="image:${model.images}" th:text="${image.imageName}"></option>
            </select>
        </div>

        <button type="submit">Add to list</button>


    </div>
</div>

<script src="/js/select-images.js"></script>

</body>


</html>
