<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Slideshow Bob - Sign up</title>
    <link rel="shortcut icon" href="/images/slide2.png"/>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:200" rel="stylesheet">
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>

<h1>Sign Up to be an Admin</h1>

<form method="post" action="/signup">
    <div class="form-row">
        <label for="username_box">Username:</label>
        <input type="text" name="username" id="username_box"/>
    </div>

    <div class="form-row">
        <label for="password_box">Password:</label>
        <input type="password" name="password" id="password_box"/>
    </div>
    <input type="submit" value="Sign up!"/>
</form>
</body>


</html>
