<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <!--@thymesVar id="model" type="java.util.List"-->

    <head>
        <link rel="stylesheet" href="/styles/slideshow.css"/>
        <link rel="shortcut icon" href="/images/slide2.png"/>
    </head>

    <body>

        <ul class='slideshow'>
            <li th:each="imageUrl, iter : ${model}">
                <span th:style="'background-image: url(' + ${imageUrl} + '); animation-delay: ' + ${iter.index * 6} + 's; -webkit-animation-delay: ' + ${iter.index * 6} + 's; -moz-animation-delay: ' + ${iter.index * 6} + 's; animation: imageAnimation ' + ${model.size() * 6} + 's linear infinite 0s; -webkit-animation: imageAnimation ' + ${model.size() * 6} + 's linear infinite 0s; -moz-animation: imageAnimation ' + ${model.size() * 6} + 's linear infinite 0s;'"></span>
            </li>
        </ul>

    </body>


</html>