<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <!--@thymesVar id="model" type="java.util.List"-->

    <head>
        <link rel="stylesheet" href="/styles/slideshow.css"/>
        <link rel="shortcut icon" href="/images/slide2.png"/>
        <script src="/js/slideshow.js"></script>
    </head>

    <body>
        <div id="goFullScreen">
            <button class="fullscreenbutton" type="submit" onclick="toggleFullScreen();">Full Screen</button>
        </div>
        <ul id="slideshow" class="slideshow">
            <li th:each="imageUrl, iter : ${model}">
                <span th:style="'background-image: url(' + ${imageUrl} + '); animation: imageAnimation ' + ${model.size() * 6} + 's linear infinite ' + ${iter.index * 6} + 's; -webkit-animation: imageAnimation ' + ${model.size() * 6} + 's linear infinite ' + ${iter.index * 6} + 's; -moz-animation: imageAnimation ' + ${model.size() * 6} + 's linear infinite ' + ${iter.index * 6} + 's;'"></span>
            </li>
        </ul>
    </body>


</html>