<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <!--@thymesVar id="model" type="java.util.List"-->

    <head>
        <link rel="stylesheet" href="/styles/slideshow.css"/>
        <link rel="shortcut icon" href="/images/slide2.png"/>
        <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
        <script src="/js/slideshow.js"></script>
    </head>

    <body>
        <div id="goFullScreen">
            <button class="fullscreenbutton" type="submit" onclick="toggleFullScreen();">Full Screen</button>
        </div>
        <div id="exit-slideshow">
            <a href="/"><button class="exit-fullscreen-button">X</button></a>
        </div>
        <ul id="slideshow" class="slideshow">
            <li th:each="imageUrl : ${model}">
                <span th:style="'background-image: url(' + ${imageUrl} + ');'"></span>
            </li>
        </ul>
    </body>


</html>