* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 800px;
    flex-grow: 1;
}

.btn {
    background: none;
    border: 2px solid;
    border-bottom-width: 4px;
    font: inherit;
    font-size: 20px;
    letter-spacing: inherit;
    margin: 1em;
    padding: 1em 2em;
    text-transform: inherit;
    transition: color 1s;
    text-align: center;
}


/* BUTTON 6 */
.btn6, .btn6:link, .btn6:visited {
    padding: 13px 13px;
    border: 1px solid #5c86cd;
    color: #5c86cd;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    transition: all .2s ease-in-out;
}
.btn6:hover, .btn6:link:hover, .btn6:visited:hover {
    background: #5c86cd;
    border: 1px solid #5c86cd;
    color: #fefefe;
    border-radius: 30px;
}

.thumbnails {
    height: 20px;
    width: 20px;
}

.emoji {
    height: 54px;
    width: 54px;
}


