body {
    font-family: 'Arima Madurai', cursive;
}

.jumbotron {
    width: 100%;
    margin: 10px 0 50px;

    background-color: transparent;
    border-radius: 30px;
    padding: 50px 30px;
    justify-content: center;
    vertical-align: middle;
}

.jumbotron h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: #e68400;
    text-shadow: -1px 0 #5c86cd, 0 1px #5c86cd, 1px 0 #5c86cd, 0 -1px #5c86cd;


    font-weight: normal;
    font-size: 56px;
    line-height: 100%;
}

.jumbotron p {
    margin: 15px 0 0 0;
}

.index-buttons-container {
    display: flex;
    justify-content: center;
}

